<server>
	
	<processors>
		<command name="hello_world">org.puppet.server.processor.HelloProcessor</command>
		<command name="schedule">org.puppet.server.processor.ScheduleHelloProcessor</command>
		<command name="initDevice">org.puppet.server.processor.InitDeviceProcessor</command>
		<command name="addDevice">org.puppet.server.processor.AddDeviceProcessor</command>
	</processors>
	
	<http>
		<network>
			<entry>
				<path>/*</path>
				<port>6969</port>
			</entry>
		</network>
		<handlers>
			<handler>hello_world</handler>
		</handlers>
	</http>
	
	<socket>
		<network>
			<entry>
				<port>9696</port>
			</entry>
		</network>
		<handlers>
		    <handler>initDevice</handler>
		    <handler>addDevice</handler>
			<handler>hello_world</handler>
			<handler>schedule</handler>
		</handlers>
	</socket>
	
</server>
